body {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background: lightgray; */
  width: 80vw;
  height: 50vh;
  border-radius: 10px;
}
.arrows{
    font-size:2rem;
    border-radius:50%;
    color:white;
    background:black;
    cursor: pointer;
}
p{
    font-size:larger;
    font-family:sans-serif;
}
h1{
    text-align: center;
    font-family:sans-serif;
}
